* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}
body {
    background-color: #999;
    padding: 20px;
}

#map_canvas
{
    /*width:1600px; */
    height:900px;
    border: 2px solid #fff;
    border-radius: 15px;
    margin-top: 20px;
}
#display {
    font-family: arial, helvetica;
    float: right;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    padding-right: 4px;
    padding-top: 4px;
}
select {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    width: 300px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #fff;
    background-color: #999;
}
#acc {
    position: absolute;
    top: 40px;
    color: #fff;
    font-family: arial, helvetica;
    font-weight: normal;
    font-size: 20px;
    left: 350px;
}
